
#div{
   padding-top: 10%;
  
 
}
.div{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* box-shadow: 5px 10px 8px 10px lightblue; */
    
}
.section{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: white;
    background-image:  url('b.jpg');
   background-size: cover;
}
#leftdiv{
height: 500px;
background-color: #F0F2F5; 
padding-top: 5%;


}
#rightdiv{
    background-color: #F0F2F5;
    padding-top: 5%;
}
.carvehicle{
    color: #333;
    font-family: montserrat, sans-serif;
   font-weight: bold;
}
a{
    margin-top: 30px;
  justify-content: center;
  display: flex;
  
}
.c{
    border-radius: 25%;

}


    

