
.c1{
      padding-right: 40%;
      margin-left: 20%;
    }
.sectiond{
    padding: 60px;
    background-color:#e3f2fd; 
    margin-top: 20%;

    }
    #section1{
      height: 100vh;
    }
    #section2{
      height: 100vh;
    }
    #section3{
      height: 100vh;
    }
  